<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogfileService" />
                <binding name="BasicHttpsBinding_ILogfileService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://logfileservice.azurewebsites.net/LogfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogfileService"
                contract="LogfileService.ILogfileService" name="BasicHttpBinding_ILogfileService" />
        </client>
    </system.serviceModel>
</configuration>